<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="{{ '/css/main.css' }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css">
</head>
<body>
    
    <script>
        function searchResults(form) {
        
            var currentItem = null;
            var search = document.getElementById(form);
            var results = document.getElementById(form + "-results");
            var toggle = document.getElementById(form + "-toggle");
        
            function removeActive() {
                for (i = 0; i < results.children.length; i++) {
                    results.children[i].classList.remove("uk-background-muted");
                }
            }
        
            // Detect all clicks on the document
            document.addEventListener("click", function(event) {
        
                var isClickSearch = false;
                var isClickResults = false;
                var isClickSearchToggle = false;
        
                if (search !== null) {
                    isClickSearch = search.contains(event.target);
                }
        
                if (results !== null) {
                    isClickResults = results.contains(event.target);
                }
        
                if (toggle !== null) {
                    isClickSearchToggle = toggle.contains(event.target);
                }
        
                if (isClickSearch || isClickSearchToggle) {
                    results.style.display = "block";
                }
        
                if (!isClickResults && !isClickSearch && !isClickSearchToggle) {
                    results.style.display = "none";
                }
        
            });
        
            results.addEventListener("mouseover", function(event) {
        
                removeActive();
                event.target.parentElement.classList.add("uk-background-muted");
                currentItem = null;
        
            });
        
            results.addEventListener("mouseout", function(event) {
                event.target.parentElement.classList.remove("uk-background-muted");
            });
        
        
            search.addEventListener("keyup", function(event) {
        
                var resultItems = results.children;
                var resultCount = results.children.length;
        
                if (event.keyCode === 40) {
        
                    if (currentItem < (resultCount - 1)) {
                        if (currentItem === null) {
                            currentItem = 0;
                        } else {
                            removeActive();
                            currentItem++;
                        }
                        removeActive();
                        resultItems[currentItem].classList.add("uk-background-muted");
                    }
        
                } else if (event.keyCode === 38) {
        
                    if (currentItem > 0) {
                        if (currentItem === null) {
                            currentItem = 0;
                        } else {
                            removeActive();
                            currentItem--;
                        }
                        removeActive();
                        resultItems[currentItem].classList.add("uk-background-muted");
                    }
        
                } else if (event.keyCode === 13) {
        
                    resultItems[currentItem].children[0].click();
        
                }
        
            });
        
        }
        </script>
        
        
        
        <script src="http://127.0.0.1:35729/livereload.js"></script></head>
        
            <body>
        
        
        
        
        
        
        <header class="uk-background-center-center uk-background-cover" style="">
            <div class="uk-overlay-header" style="">
        
                <div data-uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent; top: 200">
            <nav class="uk-navbar-container">
                <div class="uk-container">
                    <div data-uk-navbar>
                        <div class="uk-navbar-left">
                            <a class="uk-navbar-item uk-logo uk-visible@m" href="/">Docs</a>
        
                                <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas-docs" data-uk-toggle><span data-uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Docs</span></a>
        
        
                            <ul class="uk-navbar-nav uk-visible@m">
        
        
        
        
        
        
                                                <li><a href="/" >Home</a></li>
        
        
        
        
        
        
        
        
        
                                                <li><a href="/docs/" >Docs</a></li>
        
        
        
        
        
        
        
        
        
                                                <li><a href="/blog/" >Blog</a></li>
        
        
        
        
        
        
        
        
        
                                                <li><a href="#">Changelogs</a>
        
                                                    <div class="uk-navbar-dropdown">
                                                        <ul class="uk-nav uk-navbar-dropdown-nav">
        
        
        
        
                                                                <li><a href="/changelog-timeline/">Timeline Style</a></li>
        
        
        
        
        
                                                                <li><a href="/changelog-posts/">Post Style</a></li>
        
        
                                                        </ul>
                                                    </div>
        
                                                </li>
        
        
        
        
                            </ul>
                        </div>
                        <div class="uk-navbar-center uk-hidden@m">
                            <a class="uk-navbar-item uk-logo" href="/">Docs</a>
                        </div>
                        <div class="uk-navbar-right">
                            <div>
                                <a id="search-navbar-toggle" class="uk-navbar-toggle uk-search-icon uk-icon" uk-search-icon="" href="#" aria-expanded="false"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="search-icon"><circle fill="none" stroke="#000" stroke-width="1.1" cx="9" cy="9" r="7"></circle><path fill="none" stroke="#000" stroke-width="1.1" d="M14,14 L18,18 L14,14 Z"></path></svg></a>
                                <div class="uk-drop uk-background-default uk-border-rounded" uk-drop="mode: click; pos: left-center; offset: 0" style="left: 519.771px; top: 15px;">
                                    <form class="uk-search uk-search-navbar uk-width-1-1" onsubmit="return false;">
                                        <input id="search-navbar" class="uk-search-input" type="search" placeholder="Search for answers" autofocus="" autocomplete="off">
                                    </form>
                                    <ul id="search-navbar-results" class="uk-position-absolute uk-width-1-1 uk-list" style="display: block;"></ul>
                                </div>
                            </div>
                            <script>
                                SimpleJekyllSearch({
                                    searchInput:
                                        document.getElementById(
                                            "search-navbar",
                                        ),
                                    resultsContainer: document.getElementById(
                                        "search-navbar-results",
                                    ),
                                    noResultsText:
                                        '<li class="no-results">No results found</li>',
                                    searchResultTemplate:
                                        '<li><a href="{url}">{title}</a></li>',
                                    json: "/search.json",
                                });
                                searchResults("search-navbar");
                            </script>

                            <ul class="uk-navbar-nav uk-visible@m">
                                <li>
                                    <div class="uk-navbar-item">
                                        <a class="uk-button uk-button-primary-outline" href="/changelog-timeline/">Changelog</a>
                                    </div>
                                </li>

                                <li>
                                    <div class="uk-navbar-item">
                                        <a class="uk-button uk-button-success" href="/contact/">Contact</a>
                                    </div>
                                </li>
                            </ul>

                            <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle=""><span data-uk-navbar-toggle-icon="" class="uk-navbar-toggle-icon uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg></span>
                                <span class="uk-margin-small-left">Menu</span></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>


       








    </header>
    <main>

        


        {% block content %}
        
        
           < <div class="uk-section section-hero uk-position-relative" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
            <div class="uk-container uk-container-small">

                <section class="hero-section">
                    <!-- Add your image here -->
                    <img  src="{{ config.extra.author.avatar }}" style="max-width: 192px" />
                </section>

                <h1 class="uk-heading-primary uk-text-center uk-margin-remove-top">How can we help you?</h1>
                <p class="uk-text-lead uk-text-center">Search or browse in depth articles and videos on everything on Docs Jekyll theme, from basic theme setup to customisation and development</p>


                <div class="hero-search">

                    <!-- Html Elements for Search -->
                    <div class="uk-position-relative">
                        <form class="uk-search uk-search-default uk-width-1-1" name="search-hero" onsubmit="return false;">
                            <span class="uk-search-icon-flip" data-uk-search-icon></span>
                            <input id="search-hero" class="uk-search-input uk-box-shadow-large" type="search" placeholder="Search for answers" autocomplete="off">
                        </form>
                        <ul id="search-hero-results" class="uk-position-absolute uk-width-1-1 uk-list"></ul>
                    </div>

                    <script>
                    SimpleJekyllSearch({
                        searchInput: document.getElementById('search-hero'),
                        resultsContainer: document.getElementById('search-hero-results'),
                        noResultsText: '<li class="no-results">No results found</li>',
                        searchResultTemplate: '<li><a href="{url}">{title}</a></li>',
                        json: "/search.json"
                    });

                    searchResults("search-hero");

                    </script>

                </div>


            </div>
        </div>
        {% endblock content %}












    </main>
    





    <footer class="uk-section uk-text-center uk-text-muted">
        <div class="uk-container uk-container-small">
    
            <div>
                <ul class="uk-subnav uk-flex-center">
    
                            <li class="uk-active"><a href="/" >Home</a></li>
                            <li><a href="/blog/" >Blog</a></li>
                            <li><a href="/contact/" >Contact</a></li>
                </ul>
            </div>
            <div class="uk-margin-medium">
                <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center uk-grid">
    
    <div class="uk-first-column">
        <a href="https://twitter.com/" data-uk-icon="icon: twitter" class="uk-icon-link uk-icon" target="_blank"></a>
    </div>
    
    <div>
        <a href="https://www.facebook.com/" data-uk-icon="icon: facebook" class="uk-icon-link uk-icon" target="_blank"></a>
    </div>
    
    <div>
        <a href="https://www.instagram.com/" data-uk-icon="icon: instagram" class="uk-icon-link uk-icon" target="_blank"></a>
    </div> 
    
    <div>
        <a href="https://vimeo.com/" data-uk-icon="icon: vimeo" class="uk-icon-link uk-icon" target="_blank"></a>
    </div>
    
                </div>
            </div>
            <div class="uk-margin-medium uk-text-small copyright link-secondary">Made by a <a href="https://ivanchromjak.com/">human</a> somewhere on the planet earth.</div>
    
        </div>
    </footer>

    <script src="/js/faq.js"></script>
    <script src="/js/main.js"></script>





    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const faqItems = document.querySelectorAll('.faq-item');
    
        faqItems.forEach(item => {
            const question = item.querySelector('.faq-question');
            question.addEventListener('click', () => {
                // Toggle the active class
                item.classList.toggle('active');
    
                // Close all other answers
                faqItems.forEach(otherItem => {
                    if (otherItem !== item) {
                        otherItem.classList.remove('active');
                    }
                });
            });
        });
    });
    
    
    
    // Smooth Scroll for Contact Button
    document.querySelector('.footer-button').addEventListener('click', function(e) {
        e.preventDefault();
        document.querySelector('#contact').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
        });
    });
    
    /// Get all links in the sidebar and content sections
    const tocLinks = document.querySelectorAll('.vertical-toc a');
    const contentSections = document.querySelectorAll('.content-section');
    
    // Add a click event to each link in the sidebar
    tocLinks.forEach((link, index) => {
        link.addEventListener('click', (event) => {
            event.preventDefault();
    
            // Remove the active class from all links and content sections
            tocLinks.forEach(link => link.classList.remove('active'));
            contentSections.forEach(section => section.classList.remove('active', 'animated'));
    
            // Add the active class to the clicked link
            link.classList.add('active');
    
            // Show the corresponding content section with a fade-in animation
            const targetContent = contentSections[index];
            targetContent.classList.add('active', 'animated');
        });
    });
    
    
    
    
    function scrollToSection(sectionId) {
        const section = document.getElementById(sectionId);
        window.scrollTo({
            top: section.offsetTop - 20, // Adjust offset if needed
            behavior: 'smooth'
        });
    }
    
    </script>
    
    
    
    
    








</body>
</html>
