{% extends "base.html" %}

{% block content %}


<div class="uk-section">
    <div class="uk-container uk-container-xsmall">

        <h1 class="uk-article-title uk-text-center">Blog</h1>


        <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium card-post uk-inline border-radius-medium border-xlight uk-width-1-1 uk-margin">
            <a class="uk-position-cover" href="/post7/"></a>
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">



                        <div class="uk-width-auto uk-first-column">

                            <img class="uk-border-circle avatar" src="/images/avatar-alex.png" alt="Alex Koch">
                        </div>



                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Getting a JavaScript console error</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2017-05-25T00:00:00-05:00">

                            May 25, 2017
                        </time></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Musce libero nunc, dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id. Cras fringilla convallis elit, at eleifend mi interam.</p>


            </div>
            <div class="uk-card-footer">
                <span class="uk-button uk-button-text">Read more →</span>
            </div>

        </div>

        <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium card-post uk-inline border-radius-medium border-xlight uk-width-1-1 uk-margin">
            <a class="uk-position-cover" href="/post63/"></a>
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">



                        <div class="uk-width-auto uk-first-column">

                            <img class="uk-border-circle avatar" src="/images/avatar-john.png" alt="John Brown">
                        </div>



                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Selecting the right fonts and colors</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2017-05-25T00:00:00-05:00">

                            May 25, 2017
                        </time></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Musce libero nunc, dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id. Cras fringilla convallis elit, at eleifend mi interam.</p>


            </div>
            <div class="uk-card-footer">
                <span class="uk-button uk-button-text">Read more →</span>
            </div>

        </div>

        <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium card-post uk-inline border-radius-medium border-xlight uk-width-1-1 uk-margin">
            <a class="uk-position-cover" href="/post62/"></a>
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">



                        <div class="uk-width-auto uk-first-column">

                            <img class="uk-border-circle avatar" src="/images/avatar-tom.png" alt="Pete Seth">
                        </div>



                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Design tips for choosing great images</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2017-05-25T00:00:00-05:00">

                            May 25, 2017
                        </time></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Musce libero nunc, dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id. Cras fringilla convallis elit, at eleifend mi interam.</p>


            </div>
            <div class="uk-card-footer">
                <span class="uk-button uk-button-text">Read more →</span>
            </div>

        </div>

        <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium card-post uk-inline border-radius-medium border-xlight uk-width-1-1 uk-margin">
            <a class="uk-position-cover" href="/post61/"></a>
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">



                        <div class="uk-width-auto uk-first-column">

                            <img class="uk-border-circle avatar" src="/images/avatar-john.png" alt="John Brown">
                        </div>



                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Upgrading to paid service</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2017-05-25T00:00:00-05:00">

                            May 25, 2017
                        </time></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Musce libero nunc, dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id. Cras fringilla convallis elit, at eleifend mi interam.</p>


            </div>
            <div class="uk-card-footer">
                <span class="uk-button uk-button-text">Read more →</span>
            </div>

        </div>

        <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium card-post uk-inline border-radius-medium border-xlight uk-width-1-1 uk-margin">
            <a class="uk-position-cover" href="/post60/"></a>
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">



                        <div class="uk-width-auto uk-first-column">

                            <img class="uk-border-circle avatar" src="/images/avatar-daniel.png" alt="Daniel Shultz">
                        </div>



                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Purchasing domain name and DNS setup</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2017-05-25T00:00:00-05:00">

                            May 25, 2017
                        </time></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Musce libero nunc, dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id. Cras fringilla convallis elit, at eleifend mi interam.</p>


            </div>
            <div class="uk-card-footer">
                <span class="uk-button uk-button-text">Read more →</span>
            </div>

        </div>

        <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium card-post uk-inline border-radius-medium border-xlight uk-width-1-1 uk-margin">
            <a class="uk-position-cover" href="/post6/"></a>
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">



                        <div class="uk-width-auto uk-first-column">

                            <img class="uk-border-circle avatar" src="/images/avatar-evan.png" alt="Evan Wells">
                        </div>



                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Using Private Browsing or Incognito mode</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2017-05-25T00:00:00-05:00">

                            May 25, 2017
                        </time></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Musce libero nunc, dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id. Cras fringilla convallis elit, at eleifend mi interam.</p>


            </div>
            <div class="uk-card-footer">
                <span class="uk-button uk-button-text">Read more →</span>
            </div>

        </div>

        <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium card-post uk-inline border-radius-medium border-xlight uk-width-1-1 uk-margin">
            <a class="uk-position-cover" href="/post5/"></a>
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">



                        <div class="uk-width-auto uk-first-column">

                            <img class="uk-border-circle avatar" src="/images/avatar-evan.png" alt="Evan Wells">
                        </div>



                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Accepted currencies for product billing</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2017-05-25T00:00:00-05:00">

                            May 25, 2017
                        </time></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Musce libero nunc, dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id. Cras fringilla convallis elit, at eleifend mi interam.</p>


            </div>
            <div class="uk-card-footer">
                <span class="uk-button uk-button-text">Read more →</span>
            </div>

        </div>

        <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium card-post uk-inline border-radius-medium border-xlight uk-width-1-1 uk-margin">
            <a class="uk-position-cover" href="/post4/"></a>
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">



                        <div class="uk-width-auto uk-first-column">

                            <img class="uk-border-circle avatar" src="/images/avatar-sara.png" alt="Sara Galen">
                        </div>



                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Cancelling a website subscription</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2017-05-25T00:00:00-05:00">

                            May 25, 2017
                        </time></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Musce libero nunc, dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id. Cras fringilla convallis elit, at eleifend mi interam.</p>


            </div>
            <div class="uk-card-footer">
                <span class="uk-button uk-button-text">Read more →</span>
            </div>

        </div>

        <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium card-post uk-inline border-radius-medium border-xlight uk-width-1-1 uk-margin">
            <a class="uk-position-cover" href="/post3/"></a>
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">



                        <div class="uk-width-auto uk-first-column">

                            <img class="uk-border-circle avatar" src="/images/avatar-tom.png" alt="Pete Seth">
                        </div>



                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Updating your billing credit card</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2017-05-25T00:00:00-05:00">

                            May 25, 2017
                        </time></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Musce libero nunc, dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id. Cras fringilla convallis elit, at eleifend mi interam.</p>


            </div>
            <div class="uk-card-footer">
                <span class="uk-button uk-button-text">Read more →</span>
            </div>

        </div>

        <div class="uk-card uk-card-default uk-box-shadow-small uk-box-shadow-hover-medium card-post uk-inline border-radius-medium border-xlight uk-width-1-1 uk-margin">
            <a class="uk-position-cover" href="/post2/"></a>
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">



                        <div class="uk-width-auto uk-first-column">

                            <img class="uk-border-circle avatar" src="/images/avatar-evan.png" alt="Evan Wells">
                        </div>



                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Understanding company billing and accounts</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time datetime="2017-05-25T00:00:00-05:00">

                            May 25, 2017
                        </time></p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Musce libero nunc, dignissim quis turpis quis, semper vehicula dolor. Suspendisse tincidunt consequat quam, ac posuere leo dapibus id. Cras fringilla convallis elit, at eleifend mi interam.</p>


            </div>
            <div class="uk-card-footer">
                <span class="uk-button uk-button-text">Read more →</span>
            </div>

        </div>


        <!-- Pagination links -->
<ul class="uk-pagination uk-margin-medium-top">

    <li class="uk-margin-auto-left"><a class="hvr-forward" href="/blog/2/">Next →</a></li>

</ul>


    </div>
</div>

{% endblock content %}